const request = require("request");
const path = require("path");

const currentFileName = path.basename(__filename);
const smartThingsApiURL = "https://api.smartthings.com/v1";
const securityAlarmDeviceId = "26bedceb-ca87-4109-8dcf-cc83942323ff";
const commandUrl = `${smartThingsApiURL}/devices/${securityAlarmDeviceId}/commands`;
const onCommand = { component: "main", capability: "switch", command: "on" };

module.exports = function(ICM) {
  ICM.events.on("alarmStatusChanged", function(alarmStatus) {
    if (alarmStatus == 1 || alarmStatus == 2) {
      // security or fire alarm

      console.log(
        `(hook) ${currentFileName}: Sending command request to SmartThings API: ${commandUrl}`
      );

      request(
        {
          url: commandUrl,
          method: "POST",
          headers: {
            Authorization: "Bearer {{smartthings_access_token}}",
          },
          json: {
            commands: [onCommand],
          },
        },
        function(err, res, body) {
          if (err) {
            console.log(
              `(hook) ${currentFileName}: Error when notifying SmartThings of Alarm: ${err}`
            );
          } else {
            console.log(
              `(hook) ${currentFileName}: Response when notifiying SmartThings of Alarm: ${res.statusCode.toString()}`
            );
          }
        }
      );
    }
  });
};
