module.exports = function (ICM) {
	ICM.events.on('zoneStatusChanged', function(zoneNumber, isFaulted){
		var day=new Date().getDay();
		var hour=new Date().getHours();
		if(zoneNumber==18 // Right garage door 
			&& !isFaulted // just closed 
			&& (day >= 1 && day <= 5) // Monday through Friday 
			&& (hour >= 7 && hour <= 17)){  // between 7AM-6PM
		    ICM.executeCommand('F1'); //Arm STAY
		}	
	});
};
