var cronJob = require('cron').CronJob;

module.exports = function (ICM) {
	//ARM nightly at 11PM
	new cronJob('0 0 24 * * *', function(){
    		ICM.executeCommand('F4'); //F4 = Function Key #4 on Keypad
	}).start();
};

