var nma = require('nma');
var apiKey = '{{nma_api_key}}';

function monitorGarageDoor(ICM, zoneNumber, durationMinutes, description) {
	var durationMilliseconds = (durationMinutes * 60 * 1000);
	console.log("Monitoring Garage Door (Zone " + zoneNumber + ") for " + durationMinutes + " minutes and will notify if still open");
	
	// Check if open in durationMinutes
	setTimeout(function(){
		if (ICM.zones[zoneNumber]==true) {
			console.log("Garage Door (Zone " + zoneNumber + ") has been open for " + durationMinutes + " minutes; sending notification!");
			nma(
				apiKey, 
				'tiger', 
				description + ' Open',
				description + ' Has Been Open for ' +  durationMinutes + ' Minutes',
				1,
				'{{nma_url}}'
			); 
		}
	}, durationMilliseconds);
}

module.exports = function (ICM) {
	ICM.events.on('zoneStatusChanged', function(zoneNumber, isFaulted){
		if (zoneNumber==17 && isFaulted) { // Left garage door opened
			monitorGarageDoor(ICM, zoneNumber, 10, "Left Garage Door");
		} else if (zoneNumber==18 && isFaulted) { // Right garage door opened
			monitorGarageDoor(ICM, zoneNumber, 10, "Right Garage Door");
		}
	});
};
