var nma = require('nma');
var apiKey = '{{nma_api_key}}';

module.exports = function (ICM) {
	ICM.events.on('zoneStatusChanged', function(zoneNumber, isFaulted){
		if(zoneNumber==17 && isFaulted) // Left garage door opened
			// Check if open in 10 minutes
			setTimeout(function(){
				if (ICM.zones[17]==true) {
					nma(
						apiKey, 
						'tiger', 
						'Left Garage Open'
						'Left Garage Door Has Been Open for 10 Minutes,
						1,
						'{{nma_url}}'
					); 
				}
			}, 10000);
		} else if (zoneNuymber==18 && isFaulted) { // Right garage door opened
			// Check if open in 10 minutes
			setTimeout(function(){
				if (ICM.zones[18]==true) {
					nma(
						apiKey, 
						'tiger', 
						'Right Garage Open'
						'Right Garage Door Has Been Open for 10 Minutes,
						1,
						'{{nma_url}}'
					); 
				}
			}, 10000);
		}
	});
};
