var nma = require('nma');
var apiKey = '{{nma_api_key}}';

module.exports = function (ICM) {
	ICM.events.on('alarmStatusChanged', function(alarmStatus){
	   if (alarmStatus == 1 || alarmStatus == 2) {
	   		nma(
	   			apiKey, 
	   			'tiger', 
	   			alarmStatus == 1 ? '*** Security Alarm ***' : '*** Fire Alarm ***', 
	   			ICM.getAlarmStatusDetail(false),
	   			2,
	   			'{{nma_url}}'
	   		);
		 
	    	console.log('nma notification sent.');
	    }
	});
};
